<div class="terminal">
  <section class="intro-section" aria-labelledby="titre-groupe">
    <h1 class="dashboard-title">
      Merci de compléter votre profil
    </h1>
  </section>

  <div class="login-form">
    <div *ngIf="user">
      <label for="email">Email</label>
      <p>{{user!.email}}</p>
    </div>

    <label for="givenName">Prénom</label>
    <input
      id="givenName"
      [(ngModel)]="givenName"
      type="text"
      required
    />

    <label for="familyName">Nom</label>
    <input
      id="familyName"
      [(ngModel)]="familyName"
      type="text"
    />

    <div class="sebou-alert">
      <span class="intro">
        <em>Ces informations sont communes à tous vos groupes, pour que chacun sache qui vous êtes.</em>
      </span>
      <span class="final">
        Vous pourrez personnaliser un surnom dans chaque groupe, depuis votre profil.
      </span>
      <span class="middle">
        Après tout, tout le monde ne vous connaît pas sous le nom de “Oncle Dood”.
      </span>
    </div>

    <div class="options">
      <button type="button" *ngIf="context=='google'" (click)="submitName()">💾 Valider vos informations</button>
      <button type="button" *ngIf="context=='credentials'" (click)="registerWithCredentials()">🌟 Finaliser mon inscription</button>
    </div>
  </div>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>

</div>

<app-feedback-test
  [composant]="composant">
</app-feedback-test>
