<div class="terminal">
  <section class="intro-section" aria-labelledby="titre-groupe">
    <h1 class="dashboard-title">
      🌸 Où commence l’histoire ?
    </h1>
    <p class="dashboard-subtitle">
      Un groupe, c’est un cocon. Le vôtre vous attend… ou n’est pas encore né.
    </p>

  </section>

  <div class="options">
    <button (click)="router.navigate(['/groupe/onboarding/creer'])">Créer un groupe</button>
    <button (click)="router.navigate(['/groupe/onboarding/rejoindre'])">Rejoindre un groupe</button>
  </div>

  <div *ngIf="groupService.groupes().length > 0" class="existing-groups">
    <div class="block">
      <hr class="block-separator"/>
      <div class="block-title">🫶 Vos groupes existants</div>
      <hr class="block-separator"/>
      <ul>
        <li *ngFor="let groupe of groupService.groupes()">
          <strong>{{ groupe.nomGroupe }}</strong> -
          <button (click)="choisirGroupe(groupe)">Sélectionner</button>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

</div>

<app-feedback-test
  [composant]="composant">
</app-feedback-test>
