<div class="terminal">
  <h2>> Mes cadeaux</h2>
  <p>
    > Les cadeaux sont triés par ordre de priorité. Utilisez la poignée ↕️ pour organiser votre liste.
    <br>
    > Cliquez sur un cadeau pour consulter son détail, le modifier ou le supprimer.

  </p>
  <app-gift-priority-list
  [gifts]="this.giftService.gifts()"
  (rowClicked)="onGiftClicked($event)"
  />
  <div class="options">
    <button (click)="goToAjout()">[+] Ajouter un cadeau</button>
    <button (click)="return()">↩ Retour au Menu</button>
  </div>

</div>
