# IDE / éditeurs
.vscode/
.idea/
/.idea
.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-compose.prod.yml
.env
.env.prod

# Global cache
*.pyc
*.pyo
*.swp

# Python envs globaux éventuels
venv/
.env/

# Ne pas versionner les dumps SQL
*.sql
*.sql.gz

# claude code
claude/
claude-*/
claude-*/**
CLAUDE.md

README_deploy.md

# pgbouncer
pgbouncer/pgbouncer.ini.prod
pgbouncer/userlist-prod.txt

/docs
backend/script/backup_before_reset.sh
backend/script/backup_db.sh
backend/script/reset_for_production.py
backend/script/run_reset.sh
