# IDE / éditeurs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-compose.yml
.env
.env.*

# Global cache
*.pyc
*.pyo
*.swp

# Python envs globaux éventuels
venv/
.env/

# Ne pas versionner les dumps SQL
*.sql
*.sql.gz
