# ▶️ Environnement Python
__pycache__/
*.py[cod]
*.pyo
*.so

# ▶️ Éditeur / OS
*.swp
.DS_Store
.vscode/
.idea/
.iml

# Garder uniquement les paramètres de projet utiles
.idea/*

# Secrets
.env*
!.env.example

# ▶️ Venv
.venv/
env/

# ▶️ Bases de données temporaires
*.sqlite3
*.db

# ▶️ Variables d'environnement
# (déjà couvert par .env* ligne 18)

# Logs éventuels
*.log
backup_db.sh
