# ▶️ Environnement Python
__pycache__/
*.py[cod]
*.pyo
*.so

# ▶️ Éditeur / OS
*.swp
.DS_Store
.vscode/
.idea/

# Garder uniquement les paramètres de projet utiles
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/inspectionProfiles
# Mais ignorer les fichiers locaux
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries


# ▶️ Venv
.venv/
env/

# ▶️ Bases de données temporaires
*.sqlite3
*.db

# ▶️ Variables d'environnement
.env.dev
.env.prod

*.iml
