:root {
  --color-bg: #000;
  --color-bg-secondary: #111;
  --color-row-alt-bg: #1a1a1a;
  --color-row-hover-bg: #696969;
  --color-border: #fff;
  --color-text: #fff;
  --color-input-focus-bg: #333;
  --color-highlight: #ffe100;
  --color-alt-border: #444;
  --color-muted-text: #aaa;
  --color-muted-text-strong: #ccc;
  --color-success-strong: #6baa75;
  --color-info-strong: #7ca0b1;
  --color-focus-shadow: #8888;
  --color-border-dotted: #888;
  --color-error-text: #ff4d4d;
  --color-error-form: #f55;
  --color-toast-bg: #222;
  --color-toast-success: #0f0;
  --color-toast-error: #f00;
  --color-highlight: #b8860b;
  --color-alt-border: #ccc;
  --color-muted-text: #555;
  --color-muted-text-strong: #777;
  --color-success-strong: #3f8a55;
  --color-info-strong: #538a9b;
  --color-focus-shadow: #8888;
  --color-border-dotted: #888;
  --color-error-text: #b00;
  --color-error-form: #d33;
  --color-toast-bg: #ddd8d2;
  --color-toast-success: #3c8c3c;
  --color-toast-error: #b33;
  --color-highlight: #ffbf00;
  --color-alt-border: #888;
  --color-muted-text: #555;
  --color-muted-text-strong: #777;
  --color-success-strong: #6b8a00;
  --color-info-strong: #006b8a;
  --color-focus-shadow: #8888;
  --color-border-dotted: #888;
  --color-error-text: #a00;
  --color-error-form: #d33;
  --color-toast-bg: #e2e2e2;
  --color-toast-success: #5a9500;
  --color-toast-error: #c00;
  --color-highlighting-text: #E0C97F;
  --color-text-legend: #ccc;
  --font-family-base: 'Spectral', serif;
}

body.light-theme {
  --color-bg: #fdfdfd;
  --color-bg-secondary: #f7f7f7;
  --color-row-alt-bg: #efefef;
  --color-row-hover-bg: #e2eafc;
  --color-border: #295c9e;
  --color-text: #1a2b4c;
  --color-input-focus-bg: #dbe5f5;
  --color-highlighting-text: #a2a246;
  --color-text-legend: #515151;
  --font-family-base: 'Lora', serif;
}

body.daltonien-theme {
  --color-bg: #ffffff;
  --color-bg-secondary: #f2f2f2;
  --color-row-alt-bg: #e0e0e0;
  --color-row-hover-bg: #bdbdbd;
  --color-border: #000000;
  --color-text: #000000;
  --color-input-focus-bg: #d0d0d0;
  --color-highlighting-text: #a2a246;
  --color-text-legend: #515151;
  --font-family-base: 'Spectral', serif;
}

body {
  font-family: var(--font-family-base);
}
