:root {
  --color-bg: #000;
  --color-bg-secondary: #111;
  --color-row-alt-bg: #1a1a1a;
  --color-row-hover-bg: #696969;
  --color-border: #fff;
  --color-text: #fff;
  --color-input-focus-bg: #333;
  --color-highlighting-text: #E0C97F;
  --color-text-legend: #ccc;
  --font-family-base: 'Spectral', serif;
}

body.light-theme {
  --color-bg: #fdfdfd;
  --color-bg-secondary: #f7f7f7;
  --color-row-alt-bg: #efefef;
  --color-row-hover-bg: #e2eafc;
  --color-border: #295c9e;
  --color-text: #1a2b4c;
  --color-input-focus-bg: #dbe5f5;
  --color-highlighting-text: #a2a246;
  --color-text-legend: #515151;
  --font-family-base: 'Lora', serif;
}

body.daltonien-theme {
  --color-bg: #ffffff;
  --color-bg-secondary: #f2f2f2;
  --color-row-alt-bg: #e0e0e0;
  --color-row-hover-bg: #bdbdbd;
  --color-border: #000000;
  --color-text: #000000;
  --color-input-focus-bg: #d0d0d0;
  --color-highlighting-text: #a2a246;
  --color-text-legend: #515151;
  --font-family-base: 'Spectral', serif;
}

body {
  font-family: var(--font-family-base);
}
