<div class="gift-block">
  <hr class="block-separator"/>
  <div class="block-title"> 🚚 Livraison</div>
  <hr class="block-separator"/>

  <p>> Lieu : {{ giftDelivery.lieuLivraison }}</p>
  <p>> Date prévue : {{ giftDelivery.dateLivraison }}</p>
  <p class="recu-line">
    > Reçu :
    <span
      class="emoji-action"
      (click)="toggleRecu()"
      [attr.aria-label]="giftDelivery.recu ? 'Cadeau livré' : 'Cadeau non livré'"
    >
      {{ giftDelivery.recu ? '✅' : '❌' }}
    </span>
    <span class="legend-icon">&larr; Cliquez pour changer le statut.</span>
  </p>


  <hr class="block-separator"/>
  <div class="block-title"> 💸 Prix réel</div>
  <hr class="block-separator"/>
  <p>> Prix payé : {{ giftDelivery.prixReel }} €</p>

</div>
