<div class="terminal">
  <section class="intro-section" aria-labelledby="titre-groupe">
    <h1 class="dashboard-title">
      ✒️ Modifier votre mot de passe
    </h1>
  </section>
  <div class="login-form">

    <div class="login-form">
      <div  *ngIf="context=='change'">
        <label for="old-password">Ancien mot de passe</label>
        <div class="password-wrapper">
          <input
            id="old-password"
            name="old-password"
            [(ngModel)]="oldPassword"
            [type]="showPassword() ? 'text' : 'password'"
            spellcheck="false"
            autocomplete="current-password"
          />
        </div>
      </div>

      <label for="new-password">Nouveau mot de passe</label>
      <div class="password-wrapper">
        <input
          id="new-password"
          name="new-password"
          [type]="showNewPassword() ? 'text' : 'password'"
          [(ngModel)]="newPassword"
          (input)="onPasswordInput()"
          (blur)="onPasswordBlur()"
          [class.error]="passwordError"
          spellcheck="false"
          autocomplete="new-password"
          required
        />
        <button
          type="button"
          class="toggle-password"
          (click)="showNewPassword.set(!showNewPassword())"
          aria-label="Afficher ou masquer le mot de passe"
        >
          {{ showNewPassword() ? '🙈 Masquer' : '🙊 Afficher' }}
        </button>
      </div>


      <label for="confirm-password">Confirmer le mot de passe</label>
      <div class="password-wrapper">
        <input
          id="confirm-password"
          name="confirm-password"
          [type]="showConfirmPassword() ? 'text' : 'password'"
          [(ngModel)]="confirmPassword"
          (input)="onConfirmPasswordInput()"
          [class.error]="confirmError"
          spellcheck="false"
          autocomplete="new-password"
          required
        />
        <button
          type="button"
          class="toggle-password"
          (click)="showConfirmPassword.set(!showConfirmPassword())"
          aria-label="Afficher ou masquer le mot de passe"
        >
          {{ showConfirmPassword() ? '🙈 Masquer' : '🙊 Afficher' }}
        </button>
      </div>
        <div *ngIf="passwordError" class="help-msg" role="alert" aria-live="assertive">
          {{ passwordError }}
        </div>
        <div *ngIf="confirmError" class="form-error" role="alert" aria-live="assertive">
          {{ confirmError }}
        </div>



      <button (click)="submitPasswordChange()">💾 Modifier</button>
    </div>
  </div>
</div>

<app-feedback-test
  [composant]="composant">
</app-feedback-test>

