<div class="form-container">

  <h1>> Ajout d'une idée de cadeau </h1>
  <section class="intro-bloc" aria-label="Introduction pour la page d'ajout d'une idée de cadeau">
  <p class="command">> Pour ajouter une idée de cadeau pour un membre du groupe, merci de remplir ce formulaire.</p>
  </section>

  <app-gift-idea-form
    [giftIdeasResponse] = "undefined"
    [membersGroup] = "membersGroup"
    (formSubmitted) = "onSubmit($event)"
    (cancel) = "router.navigate(['/dashboard/idees'])"
  ></app-gift-idea-form>


  <app-terminal-modal
    *ngIf="showModal"
    [message]="message"
    [actions]="modalActions"
    (actionClicked)="handleClicked($event)">
  </app-terminal-modal>
</div>
<app-feedback-test
  [composant]="composant">
</app-feedback-test>
