<div class="block">
  <hr class="block-separator" />
  <div class="block-title">📩 Invitations </div>
  <hr class="block-separator" />

  <div>
    <p class="emphase-douce">Inscrivez une adresse mail par ligne — notre système se chargera avec courtoisie de convertir virgules et espaces en retours à la ligne.</p>
    <textarea
      [(ngModel)]="mails"
      (input)="normalizeMails()"
      rows="4"
      placeholder="email1@example.com&#10;email2@example.com"
    ></textarea>
  </div>

  <div class="actions-invite">
    <button (click)="sendInvitation()">💌 Expédier les invitations</button>
    <app-pending-invitations [groupId]="groupId!"></app-pending-invitations>
  </div>
</div>

<app-terminal-modal
  *ngIf="errorService.errorMessage()"
  [message]="errorService.errorMessage()!"
  [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
  (actionClicked)="errorService.clearError()"
></app-terminal-modal>

<app-invitation-recap-modal
  [isVisible]="showRecapModal"
  [inviteResponse]="inviteResponse"
  (close)="onRecapModalClose()"
></app-invitation-recap-modal>
