<div class="block">
  <hr class="block-separator" />
  <div class="block-title">📩 Invitations </div>
  <hr class="block-separator" />

  <div>
    <p class="emphase-douce">Inscrivez une adresse mail par ligne — notre système se chargera avec courtoisie de convertir virgules et espaces en retours à la ligne.</p>
    <textarea
      [(ngModel)]="mails"
      (input)="normalizeMails()"
      rows="4"
    ></textarea>

  </div>

  <button (click)="checkMail()">👀 Contrôler les adresses</button>

  <div *ngIf="validMails?.emails!.length > 0">
    <p>✅ Adresses acceptables :</p>
    <ul>
      <li *ngFor="let mail of validMails?.emails">{{ mail }}</li>
    </ul>
  </div>

  <div *ngIf="invalidMails.length > 0">
    <p>❌ Adresses problématiques :</p>
    <ul>
      <li *ngFor="let mail of invalidMails">{{ mail }}</li>
    </ul>
  </div>
  <div class="actions-invite">
    <button *ngIf="invalidMails.length==0 && validMails?.emails!.length >0" (click)="sendInvitation()">💌 Expédier les invitations</button>
    <app-pending-invitations [groupId]="groupId!"></app-pending-invitations>
    <button class="suppress" (click)="refreshInviteCode()">🔄 Régénérer le code d'invitation</button>
    <div class="help-msg">
      ⚠️ <strong>Le nouveau code rendra caduc l'ancien.</strong>
      <br />
      <span class="subtle">
      Les anciens liens deviendront inutilisables (excepté pour les comptes déjà établis).
    </span>
    </div>
  </div>
</div>

<app-terminal-modal
  *ngIf="errorService.errorMessage()"
  [message]="errorService.errorMessage()!"
  [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
  (actionClicked)="errorService.clearError()"
></app-terminal-modal>
