.gift-block {
  margin: 2rem 0;
}

.block-title {
  font-weight: bold;
  margin-top: -0.5rem;
  font-size: 1.1rem;
}

.block-separator {
  border: none;
  border-top: 2px solid var(--color-border);
  margin: 0.5rem 0 1rem 0;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.75); // Si tu veux un fond sombre temporaire
  z-index: 10;
}

.modal-box {
  background-color: var(--color-bg-secondary);
  border: 2px solid var(--color-border);
  padding: 2rem;
  min-width: 250px;
  max-width: 90%;
  text-align: center;
}

.modal-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

textarea {
  width: 20rem;
}

button {
  margin-right: 1rem;
}
