<div class="terminal">
  <h2>> Les listes des cadeaux réservés ou pris</h2>
  <p>> Cliquez sur un cadeau pour obtenir son détail ou le gérer</p>
  <p *ngIf="isPortrait" class="orientation-hint">
    > 📱 Pour plus de fonctionnalités, passez en mode paysage.
  </p>

  <p class="total">> Total des cadeaux : {{ Number(totalPrixReel.toFixed(2))
    }} €</p>

  <app-gift-table
    [gifts]="giftService.gifts()"
    [griserLignes]="false"
    [displayedColumns]="displayedColumns"
    (rowClicked)="onGiftClicked($event)">
  </app-gift-table>
  <div class="options">
    <button (click)="retour()">↩ Retour au Menu</button>
  </div>


  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>
</div>
