<div class="form-container">
  <h1>> Rejoindre un groupe </h1>
  <p class="command">> Pour rejoindre un groupe avec un code d'invitation, indiquez votre code ci-dessous.</p>

  <form [formGroup]="groupeForm" (ngSubmit)="onSubmit()">
    <label>Code d'invitation</label>
    <input formControlName="code" type="text"/>

    <button type="submit">Rejoindre</button>
  </form>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>

</div>
<app-feedback-test
  [composant]="composant">
</app-feedback-test>
