<div class="form-container">
  <h1>> Rejoindre un groupe </h1>
  <p class="command">> Pour rejoindre un groupe avec un code d'invitation, indiquez votre code ci-dessous.</p>

    <div>
    <label for="codeInvitation">Code d'invitation</label>
    <input id="codeInvitation" type="text" [(ngModel)]="codeInvitation" />
    </div>

    <button (click)="rejoindre()">Rejoindre</button>


  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>

</div>
<app-feedback-test
  [composant]="composant">
</app-feedback-test>
