<div class="form-container">
  <section class="intro-section"  aria-label="Introduction pour la page de création de groupe">
    <h1 class="dashboard-title">
      🔗 Rejoindre un groupe
    </h1>
    <p class="emphase-douce">
      Pour rejoindre un groupe avec un code d'invitation, indiquez votre code ci-dessous.
    </p>
  </section>

    <div>
    <label for="codeInvitation">Code d'invitation</label>
    <input id="codeInvitation" type="text" [(ngModel)]="codeInvitation" />
    </div>
  <div class="options">
    <button (click)="rejoindre()">Rejoindre</button>
    <button type="button" (click)="return()">↩ Retour</button>
  </div>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>

</div>
<app-feedback-test
  [composant]="composant">
</app-feedback-test>
