<div class="form-container">
  <section class="intro-section" aria-labelledby="Introduction pour la page de gestion de suivi de livraison">
    <h1 class="dashboard-title">
      Gestion du suivi de livraison
    </h1>
    <p class="emphase-douce">
      Enrichissez votre dossier des détails d'acheminement — car tout cadeau qui se respecte mérite une traçabilité impeccable.
    </p>
  </section>


    <form [formGroup]="giftForm" (ngSubmit)="onSubmit()">
      <label>Lieu de livraison</label>
      <input name="lieuLivraison" formControlName="lieuLivraison" type="text" />

      <label>Date de livraison</label>
      <input name="dateLivraison" formControlName="dateLivraison" type="date" />

      <button type="submit">Valider le suivi</button>
    </form>

    <div class="options">
      <button (click)="cancel()">↩ Retour</button>
    </div>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>
</div>

