<div class="terminal" style="position: relative;">
  <h2>> Détail du cadeau</h2>

  <div *ngIf="gift">
    <p>> <strong>Nom :</strong> {{ gift.nom }}</p>
    <p>> <strong>Description :</strong> {{ gift.description }}</p>
    <p>> <strong>Marque :</strong> {{ gift.marque }}</p>
    <p>> <strong>Magasin :</strong> {{ gift.magasin }}</p>
    <p *ngIf="gift.url">> <strong>URL : </strong>
      <a [href]="gift.url" target="_blank">{{ gift.url }}</a>
    </p>
    <p>> <strong>Quantité :</strong> {{ gift.quantite }}</p>
    <p>> <strong>Prix :</strong> {{ gift.prix }} €</p>
    <p>> <strong>Frais de port :</strong> {{ gift.fraisPort }} €</p>
    <p>> <strong>Commentaire :</strong> {{ gift.commentaire }}</p>
    <p>> <strong>Priorité :</strong> {{ gift.priorite }}</p>

    <!-- Champs spécifiques si ce n'est PAS notre cadeau -->
    <ng-container *ngIf="context === 'other'">
      <p>> <strong>Statut :</strong> {{ gift.statut }}</p>
      <p *ngIf="gift.reservePar">> <strong>{{ gift.statut === 'RESERVE' ? 'Réservé' : 'Pris' }} par :</strong> {{ gift.reservePar.name }}</p>
    </ng-container>
  </div>

  <div class="options">
    <button (click)="back.emit()">↩ Retour à la liste</button>

    <button *ngIf="context === 'own'" (click)="modifier()">✏ Modifier</button>
    <button *ngIf="context === 'own' && !showModal" (click)="requestDelete()">🗑 Supprimer</button>


    <button *ngIf="context === 'other' && gift?.statut === 'DISPONIBLE'" (click)="reserver()">⏳ Réserver</button>
    <button *ngIf="context === 'other' && (gift?.statut === 'DISPONIBLE' || estReserveParMoi(gift!))" (click)="prendre()">🛒 Prendre</button>

  </div>

  <!-- Confirmation -->
  <app-terminal-modal
    *ngIf="showModal"
    [message]="message"
    [actions]="modalActions"
    (actionClicked)="handleClicked($event)"
  />

</div>
