<div class="terminal">
  <h1>
    <span class="bounce">🎁</span> Bienvenue sur (Moments) <span class="bounce">🎁</span>
  </h1>

  <app-loading *ngIf="groupeService.isLoading()"></app-loading>

  <div *ngIf="!auth.isLoggedIn() && !groupeService.isLoading()">
    <p class="command-accueil">&gt; Veuillez vous connecter :</p>
    <div class="google-btn">
      <button class="google-signin-btn" (click)="googleLogin()">
        <img ngSrc="assets/web_neutral_sq_na.svg" alt="Google logo" width="39" height="39"/>
        <span>Connexion avec Google</span>
      </button>
    </div>

    <div class="or-separator">OU</div>

    <div class="login-form">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        autocomplete="username"
        name="email"
      />

      <label for="password">Mot de passe</label>
      <div class="password-wrapper">
        <input
          id="password"
          [type]="showPassword() ? 'text' : 'password'"
          [(ngModel)]="password"
          (input)="onPasswordInput($event)"
          name="password"
          required
          autocomplete="current-password"
          [attr.aria-describedby]="passwordError ? 'password-error' : 'password-help'"
        />
        <button type="button" class="toggle-password" (click)="showPassword.set(!showPassword())">
          {{ showPassword() ? '🙈 Masquer' : '👁 Afficher' }}
        </button>
      </div>

      <div class="help-msg">
        <span>🧠</span> <strong>8 caractères, une lettre, un chiffre.</strong><br />
        <span class="subtle">Évitons “12345678”, le Sébou te regarde.</span>
      </div>

      <div class="checkbox-row">
        <label>
          <input type="checkbox" [(ngModel)]="stayLoggedIn" name="stayLoggedIn" />
          Rester connecté (valable aussi pour Google)
        </label>
      </div>

      <div class="sebou-alert">
        <span class="intro">
          <em>Dans chaque groupe sommeille un Sébou, créature sensible en guerre contre les surprises.</em>
        </span>
        <span class="middle">
          Il fera tout pour deviner ce qu’on va lui offrir.
        </span>
        <span class="final">
          Si vous hébergez un Sébou, ne cliquez pas, ne nourrissez pas le Sébou.
        </span>
      </div>

      <button class="options-wlc" (click)="submitEmailPassword()">✍️ Connexion / Création de compte</button>

    </div>
  </div>

  <div *ngIf="auth.isLoggedIn() && !groupeService.isLoading()">
    <p>Connecté en tant que : {{ auth.profile()?.email }}</p>
    <button (click)="auth.logout()">Se déconnecter</button>
  </div>
</div>
