<div class="terminal">
  <section class="intro-section" aria-labelledby="Introduction pour la page de gestion du groupe en tant qu'admin">
    <h1 class="dashboard-title">
      🛠️ Gestion du groupe
    </h1>
  </section>
  <app-group-info
  [groupId] = "groupId"></app-group-info>
  <app-group-invite
    [groupId]="groupId">
  </app-group-invite>
  <app-group-roles
    [membersSignal]="membersSignal"
    [groupId]="groupId">
  </app-group-roles>
  <app-group-actions
    [groupId]="groupId"
    [membersSignal]="membersSignal"
    (membersUpdated)="reloadMembers()">
  </app-group-actions>
</div>

<app-feedback-test
  [composant]="composant">
</app-feedback-test>
