<div class="terminal">
  <section class="intro-section" aria-labelledby="Introduction pour la page de gestion du groupe en tant qu'admin">
    <h1 class="dashboard-title">
      🛠️ Gestion du groupe
    </h1>
    <p>
      Voici vos outils d'administration — car diriger un groupe de généreux donateurs requiert une certaine finesse.
    </p>
    <p class="emphase-douce">
      Exercez votre leadership avec la grâce qui sied à un hôte distingué — vous trouverez ici tout le nécessaire pour orchestrer vos affaires collectives.
    </p>
  </section>
  <app-group-info
  [groupId] = "groupId"></app-group-info>
  <app-group-invite
    [groupId]="groupId"
    (membersUpdated)="reloadMembers()">
  </app-group-invite>
  <app-group-roles
    [members]="members()"
    [groupId]="groupId">
  </app-group-roles>
  <app-group-actions
    [groupId]="groupId"
    [members]="members()"
    (membersUpdated)="reloadMembers()">
  </app-group-actions>
</div>


