<div class="terminal">
  <h2>> Gestion du groupe</h2>
  <app-group-info
  [groupId] = "groupId"></app-group-info>
  <app-group-invite
    [groupId]="groupId">
  </app-group-invite>
  <app-group-roles
    [membersSignal]="membersSignal"
    [groupId]="groupId">
  </app-group-roles>
  <app-group-actions
    [groupId]="groupId"
    [membersSignal]="membersSignal"
    (membersUpdated)="reloadMembers()">
  </app-group-actions>
</div>

<app-feedback-test
  [composant]="composant">
</app-feedback-test>
