.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.75); // Si tu veux un fond sombre temporaire
  z-index: 10;
}

.modal-box {
  background-color: var(--color-bg-secondary);
  border: 2px solid var(--color-border);
  padding: 2rem;
  min-width: 250px;
  max-width: 90%;
  text-align: center;
}

.modal-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* adapte le nombre de colonnes automatiquement */
  gap: 1rem;
}

.member-cell {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.modif-list {
  list-style: none;
  padding-left: 0;
}
