.members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* adapte le nombre de colonnes automatiquement */
  gap: 1rem;
}

.member-cell {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.modif-list {
  list-style: none;
  padding-left: 0;
}
