<table class="gift-table">
  <thead>
  <tr>
    <th scope="col" class="visually-hidden">Priorité</th>
    <th scope="col">Nom</th>
    <th scope="col">Prix</th>
    <th scope="col" aria-label="Quantité">Qté</th>
  </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
  <tr *ngFor="let gift of gifts, let i = index"
      cdkDrag
      (click)="onRowClick(gift)"
      (keydown.enter)="onRowClick(gift)"
      (keydown.space)="onRowClick(gift)">

    <td (click)="$event.stopPropagation()" class=" col-actions">
      <ng-container *ngIf="userIsTabbing$ | async; else dragHandle">
        <button class="drag-handle"
                (click)="changeOrder(i, 'up')"
                attr.aria-label="Monter la priorité de {{ gift.nom }}"
                (keydown.enter)="$event.stopPropagation()"
                (keydown.space)="$event.stopPropagation()">
          ⬆️
        </button>
        <button class="drag-handle"
                (click)="changeOrder(i, 'down')"
                attr.aria-label="Descendre la priorité de {{ gift.nom }}"
                (keydown.enter)="$event.stopPropagation()"
                (keydown.space)="$event.stopPropagation()">
          ⬇️
        </button>
      </ng-container>
      <ng-template #dragHandle>
        <button class="drag-handle"
                cdkDragHandle
                attr.aria-label="Changer la priorité de {{ gift.nom }}">
          ↕️
        </button>
      </ng-template>
    </td>
    <td tabindex="0">{{ gift.nom }}</td>
    <td>{{ gift.prix }} €</td>
    <td>{{ gift.quantite }}</td>
  </tr>
  </tbody>
</table>

<button *ngIf="hasOrderChanged" (click)="recPriorities()"> Valider les priorités</button>
