.gift-table {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
  color: inherit;
  background-color: transparent;

  th, td {
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    text-align: left;
    vertical-align: top;
  }

  th {
    background-color: #111;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #1a1a1a;
  }

  tr:hover {
    background-color: #222;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    th, td {
      padding: 0.5rem;
    }
  }
}

.gift-table tr.gris {
  opacity: 0.4;
  filter: grayscale(100%);
}


.gift-table tr.recu {
  background-color: #4f5e52; // ou l'une des couleurs ci-dessus
  color: #e6ffe6; // texte plus clair, optionnel
  border-left: 3px solid #6baa75;
}
//tr.recu td:first-child::before {
//  content: "✅ ";
//  color: #8fdc8f;
//}
