<div class="terminal" style="position: relative;">
  <h2>Détail du cadeau</h2>

  <app-gift-idea
    *ngIf="giftDetail.ideas && context != 'mes-cadeaux'"
    [giftDetail]="giftDetail"
    [currentUserId]="currentUserId!"
    />

  <app-gift-header
    [gift]="giftDetail.gift"
  />

  <app-gift-delivery
    *ngIf="context === 'suivi' && giftDetail.droitsUtilisateur === RoleUser.PRENEUR && giftDetail.delivery"
    [giftDelivery]="giftDetail.delivery"
    (receptionToggled)="onReceptionToggled($event)"
  />

  <app-gift-purchase-info
    *ngIf="context === 'suivi' && giftDetail.purchaseInfo"
    [purchaseInfo]="giftDetail.purchaseInfo"
  />

  <app-gift-shared
    *ngIf="context != 'mes-cadeaux'"
    [currentUserId]="currentUserId"
    [context]="context"
    [giftDetailResponse]="giftDetail"
    (remboursementToggled)="onRemboursementToggled($event)"
    />

  <app-gift-actions
    [giftDetailResponse]="giftDetail"
    [context]="context"
    (editRequested)="modifier()"
    (deleteRequested)="requestDelete()"
    (reserveRequested)="reserver()"
    (takeRequested)="prendre()"
    (cancelReservationRequested)="annulerReservation()"
    (withdrawRequested)="retirerCadeau()"
    (manageDeliveryRequested)="gererLivraison()"
    (managePurchaseInfoRequested)="gererDetailsAchat()"
    (manageSharingRequested)="gererPartage()"
    (backRequested)="retour()"
    (editIdeaRequested)="modifierIdee()"
    (deleteIdeaRequested)="deleteIdea()"
  />

  <!-- Confirmation -->
  <app-terminal-modal
    *ngIf="showModal"
    [message]="message"
    [actions]="modalActions"
    (actionClicked)="handleClicked($event)"
  />

</div>
