<div class="form-container">

  <h1>> Modification d'un cadeau </h1>
  <section class="intro-bloc" aria-label="Introduction pour la page de modification d'un cadeau">
  <p class="command">> Pour modifier un cadeau à votre liste, merci d'utiliser ce formulaire.</p>
  </section>

  <app-gift-form
    [gift]=gift
    (formSubmitted)="onSubmit($event)"
    (cancel)="router.navigate(['/dashboard/mes-cadeaux'])"
  ></app-gift-form>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>
</div>
<app-feedback-test
  [composant]="composant">
</app-feedback-test>
