<div class="form-container">
  <section class="intro-section" aria-labelledby="Introduction pour la page de gestion du détail d'un achat">
    <h1 class="dashboard-title">
      Détail de votre achat
    </h1>
    <p class="dashboard-subtitle">Consignez ici les détails de votre acquisition, qu'ils soient capitaux ou délicieusement futiles.</p>
    <p class="emphase-douce">
      🗨️ Ce registre privé accueille vos annotations : le prix effectivement déboursé (frais de port inclus, même les plus scandaleux), le lieu d'acquisition, ou la mention d'un éventuel compte tiers.
    </p>
    <p>
      <strong>🔐 Confidentialité :</strong> Ces informations demeurent dans votre cercle intime — vous et vos éventuels complices de partage. Les secrets d'une bonne affaire méritent d'être préservés.
    </p>
  </section>


  <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Prix payé (€)</label>
      <p class="advice">Conseil d'usage : incluez les frais d'acheminement, et si ce présent fait l'objet d'un partage, précisez votre contribution personnelle</p>
      <input name="prixReel" formControlName="prixReel" type="text" (input)="sanitizeDecimal($event, 'prixReel')">
    </div>

    <div class="form-group">
      <label>Commentaire</label>
      <textarea name="commentaire" formControlName="commentaire"></textarea>
    </div>

    <div class="form-group">
      <label>Prendre au nom de :</label>
      <select formControlName="compteTiers">
        <option [ngValue]="undefined" disabled selected hidden>Choisissez un compte tiers</option>
        <option [ngValue]="null">– Aucun compte tiers –</option>
        <option *ngFor="let user of managedAccounts()" [ngValue]="user">{{ user | displayName }}</option>
      </select>
    </div>

    <button type="submit">✅ Valider les détails de l'achat</button>
  </form>

  <div class="options">
    <button (click)="cancel()">↩ Retour</button>
  </div>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>
</div>

