<div class="gift-block">
  <hr class="block-separator" />
  <div class="block-title"> 💣 Actions définitives </div>
  <hr class="block-separator" />

  <button class="actions" (click)="back()">↩ Retour</button>
  <button class="actions suppress" (click)="delete()">☠️ Supprimer défitivement le groupe</button>
  <button class="actions suppress" (click)="removeUser()">🚪Expulser un membre du groupe</button>
</div>

<ng-container  *ngIf="showMemberModal">
  <div class="modal-overlay">
    <div
      class="modal-box terminal"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-title">
      <h2 id="modal-title">Sélectionner la personne que vous souhaitez expulser</h2>
      <select id="selectDest" [(ngModel)]="selectedMemberID">
        <option [ngValue]="undefined" disabled selected hidden>Choisissez un membre</option>
        <option *ngFor="let member of members" [value]="member.id">{{member.prenom}} {{member.nom | uppercase }}
          <span *ngIf="member.surnom" class="alias"> alias {{ member.surnom }}</span></option>
      </select>
      <div class="modal-actions">
        <button (click)="cancel()">Fermer</button>
        <button (click)="excludeMember()">Confirmer l'expulsion</button>

      </div>
    </div>
  </div>
</ng-container>

<app-terminal-modal
  *ngIf="showConfirmModal"
  [message]="message"
  [actions]="modalActions"
  (actionClicked)="handleClicked($event)">
</app-terminal-modal>
