<div class="form-container">

  <h1>> Modification d'une idée de cadeau </h1>
  <section class="intro-bloc" aria-label="Introduction pour la page de modification d'une idée de cadeau">
  <p class="command">> Pour modifier une idée de cadeau pour un membre du groupe, merci d'utiliser ce formulaire.</p>
  </section>

  <app-gift-idea-form
    [giftIdeasResponse] = "giftIdeaResponse"
    (formSubmitted) = "onSubmit($event)"
    (cancel) = "router.navigate(['/dashboard/idees'])"
  ></app-gift-idea-form>


  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>
</div>
<app-feedback-test
  [composant]="composant">
</app-feedback-test>
