<div class="form-container">

  <form data-allow-tiers [formGroup]="giftForm" (ngSubmit)="onSubmit()">
    <label>Nom</label>
    <input data-allow-tiers formControlName="nom" type="text"/>
    <label>Marque</label>
    <input data-allow-tiers formControlName="marque" type="text"/>
    <label>Magasin</label>
    <input data-allow-tiers formControlName="magasin" type="text"/>
    <label>Description</label>
    <textarea data-allow-tiers formControlName="description"></textarea>
    <label>Url du cadeau</label>
    <input data-allow-tiers formControlName="url" type="text"/>
    <label>Quantité</label>
    <input data-allow-tiers formControlName="quantite" type="text"/>
    <label>Prix unitaire (€)</label>
    <input
      data-allow-tiers
      type="text"
      formControlName="prix"
      (input)="sanitizeDecimal($event, 'prix')"/>
    <label>Frais de port (€)</label>
    <input
      data-allow-tiers
      type="text"
      formControlName="fraisPort"
      (input)="sanitizeDecimal($event, 'fraisPort')"/>

    <label>Commentaire</label>
    <textarea data-allow-tiers formControlName="commentaire"></textarea>

    <button data-allow-tiers type="submit">
      {{ gift?.id ? '✅ Modifier le cadeau' : '✅ Créer le cadeau' }}
    </button>
  </form>

  <div class="options">
    <button data-allow-tiers (click)="cancel.emit()">↩ Retour</button>
  </div>
</div>
