<div class="block">
  <hr class="block-separator"/>
  <div class="block-title">{{ getEmojiStatut(giftDetailResponse.gift.statut) }} {{ giftDetailResponse.gift.statut }}
  </div>
  <hr class="block-separator"/>

  <p *ngIf="giftDetailResponse.gift.statut !== GiftStatus.DISPONIBLE">
    <span class="key-label">{{ getLabelPreneur(giftDetailResponse.gift.statut) }}  :
    </span> <span class="value-text">{{ giftDetailResponse.gift.reservePar | displayName }}</span>
  </p>
  <p *ngIf="giftDetailResponse.gift.statut == GiftStatus.RESERVE">
    <span class="key-label">ate d'expiration de la réservation  : </span>
    <span class="value-text">{{giftDetailResponse.gift.expirationReservation | date: "d MMMM y 'à' HH'h'" }}</span>
  </p>


  <ng-container *ngIf="context === 'suivi'">
    <ng-container *ngIf="isPreneur">
      <p class="legend-icon"> Cliquez sur les icônes pour changer le statut.</p>
      <p *ngFor="let share of partage">
        <span class="key-label">
          {{ share.participant | displayName }} :</span>
        <span class="value-text"> {{ share.montant }} €</span>
        <span
          class="emoji-action"
          role="button"
          (click)="toggleRemboursement(share.participant.id)"
          [attr.aria-label]="share.rembourse ? 'Marquer comme non remboursé' : 'Marquer comme remboursé'"
        >
          {{ share.rembourse ? '✅' : '🕒' }}
        </span>
      </p>
    </ng-container>
    <ng-container *ngIf="isParticipant">
      <p *ngFor="let share of partage">
        <ng-container *ngIf="share.participant.id === currentUserId">
          <span *ngIf="share.rembourse">
          ✅ Vous avez remboursé {{ share.montant }} €</span>

          <span *ngIf="!share.rembourse">
          🕒 Vous devez {{ share.montant }} € </span>
        </ng-container>
      </p>
    </ng-container>
  </ng-container>


  <ng-container *ngIf="!isPreneur && !isParticipant && (partage == undefined || partage.length > 0 )">
    <p class="emphase-douce">Ce cadeau est partagé avec d'autres utilisateurs</p>
  </ng-container>

</div>

