<div class="form-container">
  <section class="intro-section" aria-label="Introduction pour la page d'ajout de cadeau">
    <h1 class="dashboard-title">
      ➕ Ajout d'un cadeau
    </h1>
    <p class="emphase-douce">
      Enrichissez votre liste d'un nouveau désir en remplissant ce formulaire avec tout le soin qu'il mérite.
    </p>
    <p>
      Soyez précis — car un souhait bien exprimé est à mi-chemin de sa réalisation.
    </p>
  </section>

  <app-gift-form
  [gift]=undefined
  (formSubmitted)="onSubmit($event)"
  (cancel)="router.navigate(['/dashboard/mes-cadeaux'])"
  ></app-gift-form>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>

</div>

