<div class="form-container">

  <h1>> Ajout d'un cadeau </h1>
  <p class="command">> Pour ajouter un nouveau cadeau à votre liste, merci de remplir ce formulaire.</p>

  <app-gift-form
  [gift]=undefined
  (formSubmitted)="onSubmit($event)"
  (cancel)="router.navigate(['/dashboard/mes-cadeaux'])"
  ></app-gift-form>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>

</div>
