<div class="form-container">

  <h1>> Création de groupe </h1>
  <p class="command">> pour créer un nouveau groupe merci de remplir ce formulaire.</p>

  <form [formGroup]="groupeForm" (ngSubmit)="onSubmit()">
    <label>Nom du groupe</label>
    <input formControlName="nomGroupe" type="text"/>

    <label>Description</label>
    <textarea formControlName="description"></textarea>

    <button type="submit">Créer le groupe</button>

  </form>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>

</div>
