<div class="options">

  <button data-allow-tiers *ngIf="canEdit" (click)="editRequested.emit()">✏️ Modifier</button>
  <button data-allow-tiers *ngIf="canDelete" (click)="deleteRequested.emit()">🗑️ Supprimer</button>

  <button *ngIf="canEditIdea" (click)="editIdeaRequested.emit()">✏️ Modifier</button>
  <button *ngIf="canDeleteIdea" (click)="deleteIdeaRequested.emit()">🗑️ Supprimer</button>

  <button *ngIf="canReserve" (click)="reserveRequested.emit()">⏳ Réserver</button>
  <button *ngIf="canTake" (click)="takeRequested.emit()">🛒 Prendre</button>
  <button *ngIf="canCancelReservation" (click)="cancelReservationRequested.emit()">❌ Annuler la réservation</button>
  <button *ngIf="canWithdraw" (click)="withdrawRequested.emit()">🔁 Rendre disponible</button>

  <button *ngIf="canManageDelivery" (click)="manageDeliveryRequested.emit()">🚚 Gérer la livraison</button>
  <button *ngIf="canManageInfo" (click)="managePurchaseInfoRequested.emit()">📝 Ajouter des informations</button>
  <button *ngIf="canManageSharing" (click)="manageSharingRequested.emit()"> 🧑‍🤝‍🧑  Gérer le partage</button>

  <button data-allow-tiers *ngIf="canGoBack" (click)="backRequested.emit()">↩ Retour à la liste</button>

</div>

