.gift-block {
  margin: 2rem 0;
}

.block-title {
  font-weight: bold;
  margin-top: -0.5rem;
  font-size: 1.1rem;
}

.block-separator {
  border: none;
  border-top: 2px solid var(--color-border);
  margin: 0.5rem 0 1rem 0;
}

p {
  margin: 0.3rem 1.8rem;
  color: var(--color-highlight);
}
