<div class="terminal">
  <section class="intro-section" aria-labelledby="Introduction pour la page de gestion de votre profil">
    <h1 class="dashboard-title">
      ⚙️ Gestion de votre profil
    </h1>
  </section>

  <app-profile-account/>
  <app-profile-group/>
  <app-profile-actions/>

  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>
</div>
