<div class="terminal" aria-labelledby="Menu principal">
  <section class="intro-section" aria-labelledby="titre-groupe">
    <h1 class="dashboard-title">
      🪶 Bienvenue dans le salon de <strong>{{ selectedGroup!.groupe.nomGroupe }}</strong>
    </h1>
    <p class="dashboard-subtitle">
      Rien ne presse ici. Sauf peut-être l’envie de partager.
    </p>

    <p *ngIf="selectedGroup!.groupe.description">
      <em>Ce groupe a été décrit — probablement avec soin et une tasse de thé — comme suit :</em><br />
      <span class="emphase-douce">« {{ selectedGroup!.groupe.description }} »</span>
    </p>

    <p class="question">
      👉 Que souhaitez-vous faire aujourd’hui ?
    </p>
  </section>

  <ul class="command-list">
    <li>
      <button data-allow-tiers (click)="goToMesCadeaux()">🎁 Gérer mes cadeaux</button>
    </li>
    <li *ngIf="isManagedTiers">
      <button data-allow-tiers (click)="switchToParent()">🔁 Revenir au compte principal</button>
    </li>
    <li>
      <button (click)="goToListesMembres()">📃 Voir les listes des autres membres</button>
    </li>
    <li>
      <button (click)="goToSuiviCadeaux()">🛍️ Suivi des cadeaux réservés/pris</button>
    </li>
    <li>
      <button (click)="goToIdeeCadeaux()">💡 Mes idées de cadeaux pour autrui</button>
    </li>
    <li>
      <button (click)="goToProfile()">⚙️ Mon profil, mes groupes, déconnexion</button>
    </li>
    <li>
      <button (click)="goToComptesTiers()">🧩 Gérer un compte tiers (enfant, proche…)</button>
    </li>
    <li>
      <button (click)="goToTheme()">🎨 Changer le thème</button>
    </li>
    <li *ngIf="isAdmin">
      <button (click)="goToGestionGroupe()">🛠️ Gérer le groupe</button>
    </li>
  </ul>
</div>
<app-feedback-test
  [composant]="composant">
</app-feedback-test>
