<div class="terminal" aria-labelledby="Menu principal">
  <h1>> Bienvenue dans le groupe : {{ selectedGroup?.nomGroupe }}</h1>
  <h2 *ngIf="selectedGroup?.description">> Description du groupe : </h2> <em> {{selectedGroup?.description}}</em>

  <section class="intro-bloc" aria-label="Introduction pour la page Menu principal">
  <p>> Que souhaitez-vous faire ?</p>
  </section>

  <ul class="command-list">
    <li>
      <button (click)="goToMesCadeaux()">[1] Gérer mes cadeaux</button>
    </li>
    <li>
      <button (click)="goToListesMembres()">[2] Voir les listes des autres membres</button>
    </li>
    <li *ngIf="estAdmin">
      <button (click)="goToSuiviCadeaux()">[3] Suivi des cadeaux réservés/pris</button>
    </li>
    <li *ngIf="estAdmin">
      <button (click)="goToIdeeCadeaux()">[4] Mes idées de cadeaux pour autrui</button>
    </li>
    <li>
      <button (click)="goToChangerGroupe()">[5] Changer de groupe</button>
    </li>
    <li *ngIf="estAdmin">
      <button (click)="goToGestionGroupe()">[*] Gérer le groupe</button>
    </li>
  </ul>
</div>

