<div class="terminal">
  <section class="intro-section"  aria-label="Introduction pour la page Listes des autres membres">
    <h1 class="dashboard-title">
      📃 Listes des autres membres
    </h1>
    <p class="emphase-douce">
      Cliquez sur un membre pour obtenir sa liste de cadeaux.
    </p>
    <p>
      🧩 Ces comptes sont sous la garde d’un autre membre.
      Peut-être qu’ils sont trop jeunes, trop âgés, ou juste trop désintéressés par la technologie.<br>
      <em>(Ce sont ce qu’on appelle des comptes tiers.)</em>
    </p>
  </section>

  <div class="user-buttons">
    <button
      *ngFor="let user of membersSignal()"
      (click)="selectMember(user)"
      [class.selected]="user.id === selectedMember?.id"
    >
      <span *ngIf="user.isCompteTiers"
            aria-label="Compte tiers"
            title="Compte tiers">🧩 </span>{{ user  | displayName }}
    </button>
  </div>

  <section class="intro-bloc" aria-label="Explication du fonctionnement de la liste">
  <p class="emphase-douce"> Cliquez sur un cadeau pour obtenir son détail et le réserver ou le prendre</p>
  </section>
  <table   aria-describedby="table-priorite-explication" class="gift-table">
    <thead>
    <tr>
      <th scope="col" *ngFor="let column of displayedColumns">{{ column.label || column.key | titlecase }}</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let gift of giftPublic; let i = index">
        <!-- Insère le sous-titre si c’est le premier 'proposé' -->
        <tr *ngIf="gift.priorite === 0 && (i === 0 || giftPublic[i-1].priorite !== 0)">
          <td colspan="5" class="separator-row">
            Idées proposées par les autres membres
          </td>
        </tr>

        <tr (click)="onGiftClicked(gift)"
            [class.gris]="gift.statut === 'PRIS'"
            [attr.aria-label]="getAriaLabel(gift)">
          <td *ngFor="let column of displayedColumns"
              tabindex="0"
              (keydown.enter)="onGiftClicked(gift)"
              (keydown.space)="onGiftClicked(gift)">
            {{ getGiftValue(gift, column) }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="options">
    <button (click)="retour()">↩ Retour au Menu</button>
  </div>


  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>
</div>

<app-feedback-test
  [composant]="composant">
</app-feedback-test>
