<div class="terminal">
  <h2>> Les listes des autres membres</h2>

  <p>> Cliquez sur un membre pour obtenir sa liste de cadeaux</p>
  <div class="user-buttons">
    <button
      *ngFor="let user of users"
      (click)="selectMember(user)"
      [class.selected]="user.id === selectedMember?.id"
    >
      {{ user.name }}
    </button>
  </div>

  <p>> Cliquez sur un cadeau pour obtenir son détail et le réserver ou le prendre</p>
  <table   aria-describedby="table-priorite-explication" class="gift-table">
    <thead>
    <tr>
      <th scope="col" *ngFor="let column of displayedColumns">{{ column.label || column.key | titlecase }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let gift of giftPublic" (click)="onGiftClicked(gift)"
        [class.gris]="gift.statut === 'PRIS'"
        [attr.aria-label]="getAriaLabel(gift)">
      <td *ngFor="let column of displayedColumns"
          tabindex="0"
          (keydown.enter)="onGiftClicked(gift)"
          (keydown.space)="onGiftClicked(gift)">
        {{ getGiftValue(gift, column) }}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="options">
    <button (click)="retour()">↩ Retour au Menu</button>
  </div>


  <app-terminal-modal
    *ngIf="errorService.errorMessage()"
    [message]="errorService.errorMessage()!"
    [actions]="[{ label: 'Ok', eventName: 'CLOSE', style: 'danger' }]"
    (actionClicked)="errorService.clearError()"
  ></app-terminal-modal>
</div>
