.user-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  button {
    width: calc((100% - 2rem) / 5); // 5 par ligne, ajustable
    min-width: 100px;
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    color: var(--color-text);
    cursor: pointer;

    &.selected {
      background-color: var(--color-border);
      color: var(--color-bg) ;
      font-weight: bold;
      border: 1px solid var(--color-border);
    }
  }
}

.gift-table {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
  color: inherit;
  background-color: transparent;

  th, td {
    border: 1px solid var(--color-border);
    padding: 0.5rem 1rem;
    text-align: left;
    vertical-align: top;
  }

  th {
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
  }

  tr:nth-child(even) {
    background-color: var(--color-row-alt-bg);
  }

  tr:hover {
    background-color: var(--color-row-hover-bg);
    cursor: pointer;
  }

  @media (max-width: 768px) {
    th, td {
      padding: 0.5rem;
    }
  }
}

.gift-table tr.gris {
  opacity: 0.4;
  filter: grayscale(100%);
}

.gift-table td:focus {
  outline: 2px dashed var(--color-border);
  background-color: var(--color-row-hover-bg);
}

.separator-row {
  font-weight: bold;
  font-style: italic;
  padding-top: 1rem;
  color: #ffe100; // jaune doux pour rester dans le thème terminal
  background-color: var(--color-bg);
  border-top: 2px solid #444;
}





