.user-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  button {
    width: calc((100% - 2rem) / 5); // 5 par ligne, ajustable
    min-width: 100px;
    padding: 0.5rem;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;

    &.selected {
      background-color: white;
      color: black ;
      font-weight: bold;
      border: 1px solid white;
    }
  }
}

.gift-table {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
  color: inherit;
  background-color: transparent;

  th, td {
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    text-align: left;
    vertical-align: top;
  }

  th {
    background-color: #111;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #1a1a1a;
  }

  tr:hover {
    background-color: #696969;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    th, td {
      padding: 0.5rem;
    }
  }
}

.gift-table tr.gris {
  opacity: 0.4;
  filter: grayscale(100%);
}

.gift-table td:focus {
  outline: 2px dashed #fff;
  background-color: #696969;
}

.separator-row {
  font-weight: bold;
  font-style: italic;
  padding-top: 1rem;
  color: #ffe100; // jaune doux pour rester dans le thème terminal
  background-color: #000;
  border-top: 2px solid #444;
}





