<div class="terminal">
<h2>> Gestion du partage pour le cadeau {{this.gift?.nom}}</h2>
  <app-refresh-group-members/>


<table class="gift-table">
  <thead>
    <tr>
      <th scope="col">Participant</th>
      <th scope="col">Montant dû (€)</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let partage of partages; let i = index">
    <td>{{ partage.participant.name }}</td>
    <td>
      <input type="number" [(ngModel)]="partages![i].montant" />
    </td>
    <td>
      <button class="test-align"
              (click)="supprimerLigne(i)"
              attr.aria-label="Enlever {{partage.participant.name}} des participants"
      >🗑️</button>
    </td>
  </tr>
  <tr *ngFor="let draft of partagesDraft; let i = index">
    <td>
      <select [(ngModel)]="draft.participant">
        <option [ngValue]="null">choisir</option>
        <option *ngFor="let membre of membresDisponibles" [ngValue]="membre">
          {{ membre.name }}
        </option>
      </select>
    </td>
    <td>
      <input type="number" [(ngModel)]="draft.montant" />
    </td>
    <td>
      <button class="test-align"
              (click)="supprimerDraft(i)"
              attr.aria-label="Enlever {{draft.participant?.name}} des participants"
      >🗑️</button>
    </td>
  </tr>
  </tbody>
</table>

  <button (click)="ajouterLigne()">➕ Ajouter un participant</button>
  <div class="actions">
    <button class="save-button" (click)="enregistrerPartages()">💾 Enregistrer</button>
    <button class="save-button" (click)="retourEnArriere()">↩ Retour</button>
  </div>


</div>
